body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
.heading{
    text-align: center;
    font-size: 30px;
    color: #333;

}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding:20px;
    max-width:1200px;
    margin:auto;
}
.container{
    background: #fff;
    border:1px solid #ddd;
    text-align:center;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 5px grey;
}
.container:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.img{
    border-radius:8px;
    height: 200px;
    width:90%;
    margin: 5px;
}
