body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
.heading{
    text-align: center;
    font-size: 30px;
    color: #333;

}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding:20px;
    max-width:1200px;
    margin:auto;
}
