body{
background-size: cover;
    background-color: rgb(213, 208, 208);
}
.box{
display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: center;

}
.container{
justify-content: center;
margin: 20px;
}