body{
background-size: cover;
    background-color: rgb(213, 208, 208);
}
.box{
display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: center;

}
.container{
justify-content: center;
margin: 20px;
margin-top: 70px;
border: 3px;
border-radius: 3%;
height: 500px;
width: 300px;
background-color: white;
}