body{
background-size: cover;
    background-color: rgb(213, 208, 208);
}
.box{
display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: center;

}
.container{
justify-content: center;
margin: 20px;
margin-top: 70px;
border: 3px;
border-radius: 3%;
height: 500px;
width: 300px;
background-color: white;
}
.img{
    height: 210px;
    width: 89%;
    margin: 10px;
    margin-left: 16px;
}
.heading{
    text-align: center;
    margin: 5px;
    margin-right: 10px;
    display: flexbox;
    font-size: 25px;
}
.para{
   text-align: center; 
   margin: 10px;
    color:rgb(79, 77, 77);

}
.price{
    text-align: center;
    font-size: 25px;
}