/* general styling */
body{
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
}
/* Block Example */
.block-menu a{
    display:block;
    background-color: #3498db;
    color:white;
    padding:10px;
    margin:5px 0;
    text-decoration: none;
}
/* Inline Example */
.inline-menu a{
    display: inline;
    background-color: aqua;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
/* Inline-Block Example */
.inline-block-menu a{
    display: inline-block;
    background-color: #9b59b6;
    
}
