body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    background-color: antiquewhite;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    margin: 20px;

}

.box1{
    background-color:blueviolet;
}