body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
